html, body {
    margin: 0;
    padding: 0;
}

.game .game__scene {
    position: relative;
    width: 1000px;
    height: 500px;
    margin: 0 auto;
    border: 1px solid #888;
    background: url("../img/bg.jpg");
    overflow: hidden;
}

.game .game__scene .game__scene__text-screen {
    position: absolute;
    width: 1000px;
    height: 500px;
    background: rgba(0, 0, 0, 0.8);
    font: 30px "Courier New", Arial;
    color: #fff;
    text-align: center;
    z-index: 500;
}

.game .game__scene .game__scene__text-screen .game__scene__total-score {
    font-size: 60px;
}

.game .game__scene .game__scene__hud {
    position: absolute;
    z-index: 50;
    right: 0;
}
.game .game__scene .game__scene__hud .game__scene__hud__score {
    right: 0;
    margin: 10px;
    font: 50px Helvetica, Arial;
    color: #fff;
    text-shadow: 1px 1px 2px #000;
}

.game .game__scene .unit {
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 10;
}

.game .game__scene .unit__coin--rub {
    background: url("../img/coin_r.png") no-repeat;
}

.game .game__scene .unit__coin--dollar {
    background: url("../img/coin_d.png") no-repeat;
}

.game .game__scene .unit__coin--euro {
    background: url("../img/coin_e.png") no-repeat;
}

.game .game__scene .unit__coin--pound {
    background: url("../img/coin_p.png") no-repeat;
}

.game .game__scene .unit__block {
    background: url("../img/wall-red.jpg");
}

.game .game__scene .unit__ko {
    background: url("../img/ko.png");
}

.game .game__scene .game__scene__toasty {
    position: absolute;
    display: none;
    width: 200px;
    height: 200px;
    bottom: 0;
    right: 0;
    background: url("../img/toasty.png");
    z-index: 100;
}

.game .game__scene .game__scene__actor {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 200px;
    left: 50px;
    background: url("../img/t_logo.png");
}

.button {
    display: inline-block;
    background: #fff;
    border: 1px solid #888;
    border-radius: 10%;
    padding: 0.1em 0.3em;
}
.button .button__value {
    color: #000;
}
.button:hover {
    background: #d4f0ff;
    cursor: pointer;
}